name: Cleanup caches by head/ref after merging.
on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup
        run: |
          set -euo pipefail

          echo "Fetching list of cache keys for head ref '${HEAD_REF}' on PR '${PULL_REQUEST}'."
          cacheKeysForPR=$(gh cache list --ref "${HEAD_REF}" --limit 100 --json id --jq '.[].id')

          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              echo "Deleting cache: ${$cacheKey}"
              gh cache delete "${cacheKey}" || echo "Error deleting: ${$cacheKey}"
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.CACHE_ACCESS }}
          GH_REPO: ${{ github.repository }}
          PULL_REQUEST: refs/pull/${{ github.event.pull_request.number }}/merge
          HEAD_REF: refs/heads/${{ github.head_ref }}
