name: cleanup caches by a branch
on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup
        run: |
          set -euo pipefail

          echo "Fetching list of cache keys for branch '${BRANCH}'."
          cacheKeysForPR=$(gh cache list --ref "${BRANCH}"" --limit 100 --json id --jq '.[].id')

          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              echo "Deleting cache: ${$cacheKey}"
              gh cache delete "${cacheKey}" || echo "Error deleting: ${$cacheKey}"
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.CACHE_ACCESS }}
          GH_REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
