name: Test
on: [push]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.0.2
        if: always()

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        proto_version: ["", "29.1", "28.0", "27.0", "26.0"]
        compiler: [clang]
        llvm_version: ["", "17.0.4"]
        bazel_config: [asan, opt, fastbuild]
        exclude:
          - os: macos-latest
            llvm_version: "17.0.4"

          - os: macos-latest
            proto_version: "29.1"
          - os: macos-latest
            proto_version: "28.0"
          - os: macos-latest
            proto_version: "27.0"
          - os: macos-latest
            proto_version: "26.0"

          - os: macos-latest
            bazel_config: opt
          - os: macos-latest
            bazel_config: asan

          - bazel_config: asan
            llvm_version: "17.0.4"
          - bazel_config: opt
            llvm_version: "17.0.4"

          - bazel_config: asan
            proto_version: "29.1"
          - bazel_config: asan
            proto_version: "28.0"
          - bazel_config: asan
            proto_version: "27.0"
          - bazel_config: asan
            proto_version: "26.0"

          - bazel_config: opt
            proto_version: "29.1"
          - bazel_config: opt
            proto_version: "28.0"
          - bazel_config: opt
            proto_version: "27.0"
          - bazel_config: opt
            proto_version: "26.0"

          - llvm_version: "17.0.4"
            proto_version: "29.1"
          - llvm_version: "17.0.4"
            proto_version: "28.0"
          - llvm_version: "17.0.4"
            proto_version: "27.0"
          - llvm_version: "17.0.4"
            proto_version: "26.0"


    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v3

      - name: Bazel cache
        uses: actions/cache@v4
        with:
            path: "~/.cache/bazel"
            key: ${{ matrix.os }}-${{ matrix.compiler }}_${{ matrix.bazel_config }}_${{ matrix.proto_version }}-${{github.ref}}-${{ github.sha }}
            restore-keys: |
                ${{ matrix.os }}-${{ matrix.compiler }}_${{ matrix.bazel_config }}_${{ matrix.proto_version }}-${{github.ref}}-
                ${{ matrix.os }}-${{ matrix.compiler }}_${{ matrix.bazel_config }}_${{ matrix.proto_version }}-refs/heads/main-
                ${{ matrix.os }}-${{ matrix.compiler }}_${{ matrix.bazel_config }}_${{ matrix.proto_version }}-

      - name: Test
        run: |
          if [ "${{ matrix.bazel_config}}" == "asan" ]; then
            BAZEL_MODE="-c dbg"
            BAZEL_CONFIG="--config=asan"
          fi
          if [ "${{ matrix.bazel_config}}" == "opt" ]; then
            BAZEL_MODE="-c opt"
            BAZEL_CONFIG=
          fi
          if [ "${{ matrix.bazel_config}}" == "fastbuild" ]; then
            BAZEL_MODE="-c fastbuild"
            BAZEL_CONFIG=
          fi
          if [ -n "${{ matrix.proto_version }}" ]; then
            CONTROL_FILE=MODULE.bazel
            sed -e 's/protobuf", version = ".*"/protobuf", version = "${{ matrix.proto_version }}"/g' "${CONTROL_FILE}" > "${CONTROL_FILE}.new"
            mv "${CONTROL_FILE}.new" "${CONTROL_FILE}"
          fi
          if [ -n "${{ matrix.llvm_version}}" ]; then
            CONTROL_FILE=bazelmod/llvm.MODULE.bazel
            sed -e 's,llvm_version = ".*",llvm_version = "${{ matrix.llvm_version }}",g' "${CONTROL_FILE}" > "${CONTROL_FILE}.new"
            mv "${CONTROL_FILE}.new" "${CONTROL_FILE}"
          fi
          CACHE_ROOT=~/.cache/bazel
          bazel test --enable_bzlmod --noenable_workspace --output_user_root="${CACHE_ROOT}" test --repository_cache="${CACHE_ROOT}/repo-cache" --config=clang ${BAZEL_MODE} ${BAZEL_CONFIG} //...
        
  test-ubuntu-gcc-fastbuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v3

      - name: Bazel cache
        uses: actions/cache@v4
        with:
            path: "~/.cache/bazel"
            key: ${{ runner.os }}-gcc_fastbuild-${{github.ref}}-${{ github.sha }}
            restore-keys: |
                ${{ runner.os }}-gcc_fastbuild-${{github.ref}}-
                ${{ runner.os }}-gcc_fastbuild-refs/heads/main-
                ${{ runner.os }}-gcc_fastbuild-

      - name: Test GCC/Fastbuild
        run: |
          # Use WORKSPACE
          CC=gcc bazel test --noenable_bzlmod --enable_workspace -c fastbuild //...
